*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20% 0;
    background-color: #1010f0;
    font-family: system-ui, sans-serif;
}
.container{ 
    
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
}
h1{
    padding: 0 2rem;
    font-size: 3.5rem;
    background-color: #fff;
    color: #1010f0;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
li{
    list-style: none;
    padding: 1em;
    font-size: 2.5em;
    display: inline-block;
    font-weight: bold;
}
